<!DOCTYPE html>
<html lang="zh">
<head>
    <th:block th:include="include :: header('示例清单')"/>
</head>
<body class="gray-bg" style="font-size: 18px;">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="ibox-title">
                        基础表单元素
                    </div>
                    <ul>
                        <li><a target="_blank" href="/demo/form/button">按钮</a></li>
                        <li><a target="_blank" href="/demo/form/select">下拉选择</a></li>
                        <li><a target="_blank" href="/demo/form/timeline">时间轴</a></li>
                        <li><a target="_blank" href="/demo/form/validate">表单校验</a></li>
                        <li><a target="_blank" href="/demo/form/jasny">文件上传</a></li>
                        <li><a target="_blank" href="/demo/form/sortable">拖动排序</a></li>
                        <li><a target="_blank" href="/demo/form/tabs_panels">选项卡/面板</a></li>
                        <li><a target="_blank" href="/demo/form/grid">栅格</a></li>
                        <li><a target="_blank" href="/demo/form/wizard">表单向导</a></li>
                        <li><a target="_blank" href="/demo/form/upload">文件上传</a></li>
                        <li><a target="_blank" href="/demo/form/datetime">日期时间</a></li>
                        <li><a target="_blank" href="/demo/form/duallistbox">穿梭框</a></li>
                        <li><a target="_blank" href="/demo/form/basic">基本表单</a></li>
                        <li><a target="_blank" href="/demo/form/cards">卡片列表</a></li>
                        <li><a target="_blank" href="/demo/form/summernote">富文本编辑器</a></li>
                        <li><a target="_blank" href="/demo/form/autocomplete">自动补全</a></li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    数据表格相关
                </div>
                <div class="ibox-content">
                    <ul>
                        <li><a target="_blank" href="/demo/table/search">表格搜索</a></li>
                        <li><a target="_blank" href="/demo/table/footer">表格数据汇总</a></li>
                        <li><a target="_blank" href="/demo/table/groupHeader">复合表头</a></li>
                        <li><a target="_blank" href="/demo/table/remember">表格翻页记住选择</a></li>
                        <li><a target="_blank" href="/demo/table/pageGo">表格跳转到指定页</a></li>
                        <li><a target="_blank" href="/demo/table/params">表格自定义查询参数</a></li>
                        <li><a target="_blank" href="/demo/table/multi">多表格</a></li>
                        <li><a target="_blank" href="/demo/table/button">点击按钮加载表格</a></li>
                        <li><a target="_blank" href="/demo/table/data">直接加载表格数据</a></li>
                        <li><a target="_blank" href="/demo/table/fixedColumns">表格冻结列</a></li>
                        <li><a target="_blank" href="/demo/table/event">自定义触发事件</a></li>
                        <li><a target="_blank" href="/demo/table/detail">表格细节视图</a></li>
                        <li><a target="_blank" href="/demo/table/child">表格父子视图</a></li>
                        <li><a target="_blank" href="/demo/table/image">表格图片预览</a></li>
                        <li><a target="_blank" href="/demo/table/curd">动态增删改查</a></li>
                        <li><a target="_blank" href="/demo/table/reorder">表格拖拽操作</a></li>
                        <li><a target="_blank" href="/demo/table/editable">表格行内编辑操作</a></li>
                        <li><a target="_blank" href="/demo/table/other">表格其他操作</a></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    模态框/弹出层
                </div>
                <div class="ibox-content">
                    <ul>
                        <li><a target="_blank" href="/demo/modal/dialog">模态窗口</a></li>
                        <li><a target="_blank" href="/demo/modal/layer">弹窗组件</a></li>
                        <li><a target="_blank" href="/demo/modal/form">form表单</a></li>
                        <li><a target="_blank" href="/demo/modal/table">模态框表格</a></li>
                        <li><a target="_blank" href="/demo/modal/check">表格复选框</a></li>
                        <li><a target="_blank" href="/demo/modal/radio">表格单选框</a></li>
                        <li><a target="_blank" href="/demo/modal/parent">表格回传父窗体</a></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    图表/报表相关
                </div>
                <div class="ibox-content">
                    <ul>
                        <li><a target="_blank" href="/demo/report/echarts">echarts图表</a></li>
                        <li><a target="_blank" href="/demo/report/peity">peity图表</a></li>
                        <li><a target="_blank" href="/demo/report/sparkline">sparkline图表</a></li>
                        <li><a target="_blank" href="/demo/report/metrics">metrics图表</a></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    图标相关
                </div>
                <div class="ibox-content">
                    <ul>
                        <li><a target="_blank" href="/demo/icon/fontawesome">fontawesome图标</a></li>
                        <li><a target="_blank" href="/demo/icon/glyphicons">glyphicons图标</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ibox">
                <div class="ibox-title">
                    表格相关
                </div>
                <div class="ibox-content">
                    <ul>
                        <li><a target="_blank" href="/demo/operate/table">表格操作</a></li>
                        <li><a target="_blank" href="/demo/operate/other">表格其他操作</a></li>
                    </ul>

                </div>
            </div>
        </div>



    </div>
</div>


<th:block th:include="include :: footer"/>
</body>
</html>
