<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HkRentHouseDoorMapper">

    <resultMap type="com.ruoyi.system.domain.HkRentHouseDoor" id="HkRentHouseDoorMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="houseCode" column="house_code" jdbcType="VARCHAR"/>
        <result property="doorStatus" column="door_status" jdbcType="VARCHAR"/>
        <result property="processTime" column="process_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>



    <insert id="insertDoor">
        insert  into hk_rent_house_door
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="hkRentHouseDoor.houseCode != null  and hkRentHouseDoor.houseCode != ''">house_code,</if>
            <if test="hkRentHouseDoor.doorStatus != null ">door_status,</if>
            <if test="hkRentHouseDoor.processTime != null ">process_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="hkRentHouseDoor.houseCode != null  and hkRentHouseDoor.houseCode != ''">#{hkRentHouseDoor.houseCode},</if>
            <if test="hkRentHouseDoor.doorStatus != null">#{hkRentHouseDoor.doorStatus},</if>
            <if test="hkRentHouseDoor.processTime != null ">#{hkRentHouseDoor.processTime},</if>
       </trim>
    </insert>






</mapper>
