<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.HkUserFileMapper">
    
    <resultMap type="HkUserFile" id="HkUserFileResult">
        <result property="userId"    column="user_id"    />
        <result property="fileId"    column="file_id"    />
    </resultMap>

    <sql id="selectHkUserFileVo">
        select user_id, file_id from hk_user_file
    </sql>

    <select id="selectHkUserFileList" parameterType="HkUserFile" resultMap="HkUserFileResult">
        <include refid="selectHkUserFileVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectHkUserFileById" parameterType="Long" resultMap="HkUserFileResult">
        <include refid="selectHkUserFileVo"/>
        where user_id = #{userId}
    </select>
        
    <insert id="insertHkUserFile" parameterType="HkUserFile">
        insert into hk_user_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="fileId != null ">file_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="fileId != null ">#{fileId},</if>
         </trim>
    </insert>

    <update id="updateHkUserFile" parameterType="HkUserFile">
        update hk_user_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileId != null ">file_id = #{fileId},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteHkUserFileById" parameterType="Long">
        delete from hk_user_file where user_id = #{userId}
    </delete>

    <delete id="deleteHkUserFileByIds" parameterType="String">
        delete from hk_user_file where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
    
</mapper>