<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改小区信息')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-village-edit" th:object="${xlVillageModel}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label  is-required">小区名称：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" placeholder="请填写小区名称" type="text" required>
                </div>
            </div>

<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label  is-required">所属网格：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <select name="deptName" id="deptName"   class="form-control m-b">-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->

            <div class="form-group">
                <label class="col-sm-3 control-label is-required">所属网格：</label>
                <div class="col-sm-8">
                    <select name="deptId" id="deptId" class="form-control select-list" required>
                        <option th:each="det:${deptNames}" th:value="${det.deptId}" th:text="${det.deptName}"  th:field="*{deptId}"></option>
                    </select>
                    <input name="deptName" id="deptName"  type="text"  hidden>
                </div>
            </div>
<!--            th:selected="${xlVillageModel.deptId eq det.deptId}"-->
<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label  is-required">所属网格：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <select name="deptName" class="form-control m-b" th:with="type=${@serv.selectdeptNames()}" required>-->
<!--                        <option th:each="dict : ${type}" th:text="${dict}" th:value="${dict}" th:field="*{deptName}"></option>-->
<!--                    </select>-->

<!--                </div>-->
<!--            </div>-->


<!--            <div class="form-group">-->
<!--                <label class="col-sm-3 control-label">所属社区：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="deptName" th:field="*{deptName}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">物业id：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="propertyId" th:field="*{propertyId}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label">物业名称：</label>
<!--                <div class="col-sm-8">-->
<!--                    <select name="deptId" id="deptId" class="form-control select-list" required>-->
<!--                        <option th:each="dets:${estateList}" th:value="${dets.id}" th:text="${dets.propertyName}" th:selected="${xlVillageModel.propertyId eq dets.id}"  ></option>-->
<!--                    </select>-->
<!--                    <input name="deptName" id="deptName"  type="text"  hidden>-->
<!--&lt;!&ndash;                    <input name="propertyName" th:field="*{propertyName}" placeholder="请填写物业公司名称" class="form-control" type="text">&ndash;&gt;-->
<!--                </div>-->
                <div class="col-sm-8">
                    <select name="id" id="id" class="form-control select-list" required>
                        <option value=''disabled selected hidden>请选择物业名称</option>
                        <option th:each="dett:${estateList}" th:value="${dett.id}" th:text="${dett.estateName}" th:selected="${xlVillageModel.propertyName eq dett.estateName}"></option>
                    </select>
                    <input name="propertyName" id="propertyName"  type="text"  hidden>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/village";
        $("#form-village-edit").validate({
            focusCleanup: true
        });
        function submitHandler() {
            if ($.validate.form()) {
                var text1=document.getElementById("deptId");
                text2=text1.options[text1.selectedIndex].text;
                $("#deptName").val(text2);
                $.operate.save(prefix + "/edit", $('#form-village-edit').serialize());
            }
        }
    </script>
</body>
</html>
