<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>数智闲林·统一门户管理平台</title>
    <link th:href = "@{/layui/css/layui.css}" rel = "stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/icon/iconfont.css}" rel="stylesheet"/>
    <link th:href = "@{/css/font-awesome.min.css}" rel = "stylesheet" />
    <link th:href="@{/css/public.css}" rel="stylesheet"/>
    <link th:href = "@{/css/Thing.css}" rel = "stylesheet" />

    <script>
        //rem布局动态更改html
        (function (win) {
            var tid;

            function refreshRem() {
                let designSize = 1920;
                let html = document.documentElement;
                let wW = html.clientWidth;
                let rem = (wW * 100) / designSize;
                document.documentElement.style.fontSize = rem + "px";
            }

            win.addEventListener(
                "resize",
                function () {
                    clearTimeout(tid);
                    tid = setTimeout(refreshRem, 100);
                },
                false
            );
            win.addEventListener(
                "pageshow",
                function (e) {
                    if (e.persisted) {
                        clearTimeout(tid);
                        tid = setTimeout(refreshRem, 100);
                    }
                },
                false
            );

            refreshRem();
        })(window);
    </script>
</head>
<body>
<div class = "mediaCont">
<div th:insert="common/header :: header"></div>
<div th:include="common/sidebar::sidebar(activeUri='stage')" class = "nav_sider"></div>
</div>
<div class = "mediaCont mediaCenter">
<div class = "container-fluid nav-stacked Thing-nav" id="exportDiv">
    <div class = "thingTab layui-row">
        <ul class = "trend-Tabtile thingTitle layui-row" id = "dataTab">
            <li class = " active">近一天</li>
            <li class = "">近一周</li>
            <li class = "">近一月</li>
            <li class = "">近一年</li>
        </ul>
        <div class = "trend_operation">
            <ul class = "operationLeft operationRight">
                <li class = "operationActive" title = "图表"><i class = "iconfont">&#xe60f;</i></li>
                <li title = "报表" onClick = "javaScript:location.href = '/system/archives/StageEventList';"><i class = "iconfont">&#xe691;</i></li>
            </ul>
            <ul class = "operationRight">
                <li title = "刷新" onclick="javaScript:location.reload();"><i class = "fa fa-refresh"></i></li>
                <li title = "导出" onclick="exportPdf()"><i class = "fa fa-download"></i></li>
            </ul>
        </div>
    </div>
    <div class = "layui-row thing-title">

        <div class = "layui-col-md8">
            <div class = "layui-row" style = "height: 13vh" >
                <div class = "layui-col-md3 thing-total">
                    <p>
                        <i class = "iconfont">&#xe6a4;</i>
                        <span>周期天数</span>
<!--                        <i class = "iconfont explain" data-toggle = "tooltip" data-trigger = "hover" data-placement = "bottom" title = "近一天、近一周、近一月、近一年区域处置情况分析图">&#xe623;</i>-->
                    </p>
                    <div class = "thing-num">
                        <b id ="stage-day"></b>
                    </div>
                </div>
                <div class = "layui-col-md3 thing-total">
                    <p>
                        <i class = "iconfont">&#xe62d;</i>
                        <span>辖区数</span>
                        <i class = "iconfont explain" data-toggle = "tooltip" data-trigger = "hover" data-placement = "bottom" title = "青山湖街道下辖区数量">&#xe623;</i>
                    </p>
                    <div class = "thing-num">
                        <b  id ="stage-region"></b>
                        <p class="stage-region-rate"></p>
                    </div>
                </div>
                <div class = "layui-col-md3 thing-total">
                    <p>
                        <i class = "iconfont">&#xe63d;</i>
                        <span>人员数</span>
<!--                        <i class = "iconfont explain" data-toggle = "tooltip" data-trigger = "hover" data-placement = "bottom" title = "近一天、近一周、近一月、近一年区域处置情况分析图">&#xe623;</i>-->
                    </p>
                    <div class = "thing-num">
                        <b  id ="stage-people"></b>
                        <p class="stage-people-rate"></p>
                    </div>
                </div>
                <div class = "layui-col-md3 thing-total">
                    <p>
                        <i class = "iconfont">&#xe686;</i>
                        <span>事件数</span>
<!--                        <i class = "iconfont explain" data-toggle = "tooltip" data-trigger = "hover" data-placement = "bottom" title = "近一天、近一周、近一月、近一年区域处置情况分析图">&#xe623;</i>-->
                    </p>
                    <div class = "thing-num">
                        <b id ="stage-event"></b>
                        <p class="stage-event-rate"></p>
                    </div>
                </div>
            </div>
            <div class = "layui-row thing-trend">
                <div class = "layui-row" style = "height: 15%">
                    <div class = "layui-col-md6 trend-title">
                        <p>区域检测
<!--                            <i class = "iconfont explain" data-toggle = "tooltip" data-trigger = "hover" data-placement = "bottom" title = "近一天、近一周、近一月、近一年区域处置情况分析图">&#xe623;</i>-->
                        </p>
                    </div>
<!--                    <div class = "layui-col-md6 trend-tab">-->
<!--                        <ul class = "layui-row trend-Tabtile" id="jiance">-->
<!--                            <li class = "layui-col-md4 active">-->
<!--                                本日-->
<!--                            </li>-->
<!--                            <li class = "layui-col-md4">本周</li>-->
<!--                            <li class = "layui-col-md4">本月</li>-->
<!--                        </ul>-->
<!--                        <div class = "thing-data">-->
<!--                            <input-->
<!--                                    type = "text"-->
<!--                                    class = "layui-input"-->
<!--                                    id = "day-range"-->
<!--                                    readonly-->
<!--                                    placeholder = "请选择日期范围"-->
<!--                            />-->
<!--                            <i class = "iconfont">&#xe616;</i>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div
                        class = "layui-row"
                        style = "height: 85%"
                >
                    <div
                            class = ""
                            id = "total"
                            style = "width: 100%; height: 100%"
                    ></div>
                </div>
            </div>
        </div>
        <div class = "layui-col-md4" style = "">
            <div class = "layui-row  empowerment">
                <div class = "layui-row thing-empowerment">
                    <div class = "layui-col-md6 trend-title">
                        <p>赋能流转
<!--                            <i class = "iconfont explain" data-toggle = "tooltip" data-trigger = "hover" data-placement = "bottom" title = "近一天、近一周、近一月、近一年区域处置情况分析图">&#xe623;</i>-->
                        </p>
                    </div>
                    <!--                    <div class = "layui-col-md6 trend-tab">-->
                    <!--                        <ul class = "trend-Tabtile layui-row " id = "funeng">-->
                    <!--                            <li class = "layui-col-md4 active">本日</li>-->
                    <!--                            <li class = "layui-col-md4">本周</li>-->
                    <!--                            <li class = "layui-col-md4">本月</li>-->
                    <!--                        </ul>-->
                    <!--                    </div>-->
                </div>
                <div
                    class = "layui-row"
                    style = "height: 85%"
                >
                    <div
                        class = ""
                        id = "purchase"
                        style = "width: 100%; height: 100%"
                    ></div>
                </div>
            </div>

        </div>
    </div>
    <div class = "layui-row testing">
        <div class = "layui-col-md4 testing-ting">
            <div class = "layui-row thing-empowerment">
                <div class = "layui-col-md6 trend-title">
                    <p>效率分析
<!--                        <i class = "iconfont explain" data-toggle = "tooltip" data-trigger = "hover" data-placement = "bottom" title = "近一天、近一周、近一月、近一年区域处置情况分析图">&#xe623;</i>-->
                    </p>
                </div>
<!--                <div class = "layui-col-md6 trend-tab">-->
<!--                    <ul class = "trend-Tabtile layui-row" id="xiaolv">-->
<!--                        <li class = "layui-col-md4 active">本日</li>-->
<!--                        <li class = "layui-col-md4">本周</li>-->
<!--                        <li class = "layui-col-md4">本月</li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
            <div
                    class = "layui-row "
                    style = "height: 87%"
            >
                <div
                        class = ""
                        id = "testing"
                        style = "width: 100%; height: 100%"
                ></div>
            </div>
        </div>
        <div class = "layui-col-md4 testing-ting">
            <div class = "layui-row thing-empowerment">
                <div class = "layui-col-md4 trend-title">
                    <p>类型统计
<!--                        <i class = "iconfont explain" data-toggle = "tooltip" data-trigger = "hover" data-placement = "bottom" title = "近一天、近一周、近一月、近一年区域处置情况分析图">&#xe623;</i>-->
                    </p>
                </div>
<!--                <div class = "layui-col-md8 trend-tab">-->
<!--                    <ul class = "trend-Tabtile layui-row " id="tongji">-->
<!--                        <li class = "layui-col-md4 active">本日</li>-->
<!--                        <li class = "layui-col-md4">本周</li>-->
<!--                        <li class = "layui-col-md4">本月</li>-->
<!--                    </ul>-->
<!--                    <form class = "layui-form">-->
<!--                        <select name = ""  id="dept-name-select" lay-filter="college" class="select">-->
<!--                            <option value = "">请选择社区</option>-->
<!--                        </select>-->
<!--                    </form>-->
<!--                </div>-->
            </div>
            <div
                    class = "layui-row "
                    style = "height: 85%"
            >
                <div
                        class = ""
                        id = "Statistics"
                        style = "width: 100%; height: 100%"
                ></div>
            </div>
        </div>
        <div class = "layui-col-md4 testing-ting">
            <div class = "layui-row thing-empowerment">
                <div class = "layui-col-md6 trend-title">
                    <p>事件分析
<!--                        <i class = "iconfont explain" data-toggle = "tooltip" data-trigger = "hover" data-placement = "bottom" title = "近一天、近一周、近一月、近一年区域处置情况分析图">&#xe623;</i>-->
                    </p>
                </div>
<!--                <div class = "layui-col-md6 trend-tab">-->
<!--                    <ul class = "trend-Tabtile layui-row " id="fenxi">-->
<!--                        <li class = "layui-col-md4 active">本日</li>-->
<!--                        <li class = "layui-col-md4">本周</li>-->
<!--                        <li class = "layui-col-md4">本月</li>-->
<!--                    </ul>-->
<!--                </div>-->
            </div>
            <div
                    class = "layui-row"
                    style = "height: 85%"
            >
                <div
                        class = ""
                        id = "analysis"
                        style = "width: 100%; height: 100%"
                ></div>
            </div>
        </div>
    </div>
</div>
</div>
</body>

<script th:src = "@{/layui/layui.js}"></script>
<script th:src = "@{/js/echarts.min.js}"></script>
<script th:src="@{/js/export-tools/html2canvas.min.js}"></script>
<script th:src="@{/js/export-tools/jspdf.min.js}"></script>

<!--tab切换数据-->
<script>
    // 区域检测
    $('#dataTab li').on('click', function () {
        // 删除li的active
        $('#dataTab li').removeClass('active');
        // 给当前li添加active
        $(this).addClass('active');
        // 判断当前那个li被点击切换echarts数据
        if ($('#dataTab li:eq(0)').is('.active')) {
            stageRegion("day");
            stageChange("day");
            stageAnalysis("day");
            stageEvent("day");
            stageEventAnalysis("day");
        } else if ($('#dataTab li:eq(1)').is('.active')) {
            stageRegion("week");
            stageChange("week");
            stageAnalysis("week");
            stageEvent("week");
            stageEventAnalysis("week");
        } else if ($('#dataTab li:eq(2)').is('.active')) {
            stageRegion("month");
            stageChange("month");
            stageAnalysis("month");
            stageEvent("month");
            stageEventAnalysis("month");
        }else if ($('#dataTab li:eq(3)').is('.active')) {
            stageRegion("year");
            stageChange("year");
            stageAnalysis("year");
            stageEvent("year");
            stageEventAnalysis("year");
        }
    })
    //init 周期天数 辖区数 人员数 事件数
    $(document).ready(function () {
        init("day");
        stageRegion("day");
        stageChange("day");
        stageAnalysis("day");
        deptNameOption();
        stageEvent("day");
        stageEventAnalysis("day");
    })

    function init(dayType) {
        $.ajax({
            url: "/system/archives/stageCount",
            data: {
                "type": dayType
            },
            type: "get",
            success: function (data) {
                if (data.code == '0') {
                    $("#stage-day").html(data.data.stageCount);
                    $("#stage-people").html(data.data.peopleCount);
                    $("#stage-region").html(data.data.stageJurisdictionCount);
                    $("#stage-event").html(data.data.stageEventCount);
                    $(".stage-day-rate").html(data.data.stageCountRate);
                    $(".stage-people-rate").html(data.data.peopleCountRate);
                    $(".stage-region-rate").html(data.data.stageJurisdictionCountRate);
                    $(".stage-event-rate").html(data.data.stageEventCountRate);
                }
            }
        })
    }

    //区域检测 日期 echarts控件名
    function  stageRegion(dayType) {
        init(dayType);
        $.ajax({
            url: "/system/archives/regionChange",
            data: {
                "type":dayType
            },
            type: "get",
            success: function (data) {
                if (data.code == '0') {
                    // console.log(data.data)
                    var total = echarts.init(document.getElementById("total"));
                    var Toption = {
                        tooltip: {
                            trigger: "axis",
                            axisPointer: {
                                type: "cross",
                            },
                        },
                        legend: {
                            top: "bottom",
                            itemWidth: 15,
                            itemHeight: 15,
                            textStyle: {
                                color: '#555'
                            }
                        },
                        grid: {
                            left: "5%",
                            top: "5%",
                            right: "5%",
                            bottom: "10%",
                            containLabel: true,
                        },
                        xAxis: {
                            type: "category",
                            axisLabel: {
                                textStyle: {
                                    color: "#333",
                                },
                                interval: 0,
                                rotate: 30,
                            },
                            axisLine: {
                                lineStyle: {
                                    color: "#888",
                                },
                            },
                            axisTick: {
                                show: false,
                            },
                            data: data.data.eventChangeNames,
                        },
                        yAxis: {
                            type: "value",
                            axisLine: {
                                show: false,
                            },
                            axisTick: {
                                show: false,
                            },
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    type: "dashed",
                                },
                            },
                            axisLabel: {
                                textStyle: {
                                    color: "#333",
                                },
                            },
                            // boundaryGap: [0, 0.01],
                        },
                        color: ["#0070CC", "#2ACA96"],
                        series: [
                            // {
                            //     name: "店铺",
                            //     type: "bar",
                            //     data: [],
                            //     barGap: 0,
                            //     barWidth: 15,
                            // },
                            {
                                name: "街道",
                                type: "line",
                                data: data.data.eventChangeCounts,
                                smooth: true,
                                itemStyle: {
                                    color: {
                                        type: "linear",
                                        x: 0,
                                        y: 0,
                                        x2: 0,
                                        y2: 1,
                                        colorStops: [
                                            {
                                                offset: 0,
                                                color: "rgba(42,202,150)", // 0% 处的颜色
                                            },
                                            {
                                                offset: 1,
                                                color: "#ffffff", // 100% 处的颜色
                                            },
                                        ],
                                        global: false, // 缺省为 false
                                    },
                                },
                                // symbolSize: 0,
                                lineStyle: {
                                    width: 3,
                                    color: {
                                        type: "linear",
                                        x: 0,
                                        y: 0,
                                        x2: 1,
                                        y2: 1,
                                        colorStops: [
                                            {
                                                offset: 0,
                                                color: "rgba(42,202,150)", // 0% 处的颜色
                                            },
                                            {
                                                offset: 0.5,
                                                color: "rgba(42,202,150)", // 0% 处的颜色
                                            },
                                            {
                                                offset: 1,
                                                color: "rgba(42,202,150)", // 100% 处的颜色
                                            },
                                        ],
                                        global: true, // 缺省为 false
                                    },
                                },
                                areaStyle: [],
                            },
                        ],
                    };
                    total.setOption(Toption);
                }
            }
        })
    }

    //赋能流转 日期 echarts控件名
    function stageChange(dayType){
        $.ajax({
            url: "/system/archives/eventChange",
            data: {
                "type":dayType
            },
            type: "get",
            success: function (data) {
                if (data.code == '0') {
                    var purchase = echarts.init(document.getElementById("purchase"));
                    var Poption = {
                        tooltip: {
                            trigger: "item",
                            formatter: function (params) {
                                // console.log(params);
                                var str = params.marker + params.name + '：' + params.value;
                                return str;
                            },
                        },
                        grid: {
                            top: 5,
                            left: 5,
                            right: 5,
                            bottom: 5,
                        },
                        color: ["#FEC400", "#0070CC", '#F98A65', "#2ACA96",],
                        series: [
                            {
                                name: "赋能流转",
                                type: "funnel",
                                left: "10%",
                                top: '5%',
                                right: '15%',
                                //x2: 80,
                                bottom: '10%',
                                // width: "80%",
                                // height: {totalHeight} - y - y2,
                                // min: 10,
                                // max: 100,
                                minSize: "0%",
                                maxSize: "80%",
                                sort: "descending",
                                gap: 0,
                                label: {
                                    normal: {
                                        show: true,
                                        position: "inside",
                                        formatter: "{c}%",
                                    },
                                },
                                labelLine: {
                                    length: 10,
                                    lineStyle: {
                                        width: 1,
                                        type: "solid",
                                    },
                                },
                                itemStyle: {
                                    borderColor: "#fff",
                                    borderWidth: 0,
                                },
                                data: data.data.eventChangeRateVOS,
                            },
                            {
                                name: "赋能流转",
                                type: "funnel",
                                left: "10%",
                                top: '5%',
                                right: '15%',
                                //x2: 80,
                                bottom: '10%',
                                // width: "80%",
                                // min: 10,
                                // max: 100,
                                minSize: "0%",
                                maxSize: "80%",
                                sort: "descending",
                                gap: 0,
                                label: {
                                    normal: {
                                        show: true,
                                        // itemStyle:{
                                        color: "#333",
                                        // }
                                    },
                                },
                                labelLine: {
                                    length: 10,
                                    lineStyle: {
                                        width: 1,
                                        type: "solid",
                                        color: "#888",
                                    },
                                },
                                itemStyle: {
                                    borderColor: "#fff",
                                    borderWidth: 0,
                                },
                                data: data.data.eventChangeVOS,
                            },
                        ],
                    };
                    purchase.setOption(Poption);
                }
            }
        })
    }

    //效率分析 日期 echarts控件名
    function stageAnalysis(dayType){
        $.ajax({
            url: "/system/archives/eventRegionStage",
            data: {
                "type":dayType
            },
            type: "get",
            success: function (data) {
                if (data.code == '0') {
                    // console.log(data.data)
                    var testingX = data.data.regionName;
                    var testingY1 = data.data.eventRegionCount;//街面违规事件
                    var testingY2 = data.data.eventPlaceTypeRegionCount;//店外违规事件
                    if (testingY1.length == 0|| testingY1.length==null) {
                        testingX.forEach(item => {
                            testingY1.push(0)
                        })
                    }
                    if (testingY2.length == 0) {
                        testingX.forEach(item => {
                            testingY2.push(0)
                        })
                    }
                    var testing = echarts.init(document.getElementById("testing"));
                    var toption = {
                        tooltip: {
                            trigger: "axis",
                            axisPointer: {
                                type: "cross",
                            },
                        },
                        legend: {
                            top: "90%",
                            itemWidth: 15,
                            itemHeight: 15,
                            textStyle: {
                                color: '#555'
                            }
                        },
                        grid: {
                            top: "5%",
                            left: "3%",
                            right: "4%",
                            bottom: "12%",
                            containLabel: true,
                        },
                        dataZoom: [
                            {
                                // type: "slider",
                                type: "inside",
                                minSpan: 65,
                                show: true,
                                realtime: true,
                                height: "3%",
                                start: 0,
                                end: 65,
                                bottom: "0%",
                            },
                        ],
                        yAxis: {
                            type: "value",
                            axisLine: {
                                show: false,
                                lineStyle: {
                                    color: "#888",
                                },
                            },
                            axisTick: {
                                show: false,
                            },
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    type: "dashed",
                                },
                            },
                            axisLabel: {
                                color: '#333'
                            }
                        },
                        xAxis: {
                            type: "category",
                            data: testingX,
                            axisLine: {
                                lineStyle: {
                                    color: "#888",
                                },
                            },
                            axisLabel: {
                                color: '#333'
                            }
                        },
                        color: ["#0070CC", "#2ACA96"],
                        series: [
                            {
                                name: "店外违规事件",
                                type: "line",
                                stack: "总量",
                                data: testingY2,
                                smooth: true,
                                symbol: "circle",
                                symbolSize: 8,
                                lineStyle: {
                                    width: 3,
                                },
                            },
                            {
                                name: "街面违规事件",
                                type: "line",
                                stack: "总量",
                                data: testingY1,
                                smooth: true,
                                symbol: "circle",
                                symbolSize: 8,
                                lineStyle: {
                                    width: 3,
                                },
                            },
                        ],
                    };
                    testing.setOption(toption);
                }
            }
        })
    }

    //社区列表
    function deptNameOption(){
        $.ajax({
            url: "/system/archives/regionNames",
            data: {
            },
            type: "get",
            success: function (data) {
                if (data.code == '0') {
                    let selectDept = $("#dept-name-select");
                    data.data.forEach(function (o,i) {
                        selectDept.append("<option value = "+o.deptUuid+">"+o.deptName+"</option>");
                    })
                }
            }
        })
    }

    //类型统计-社区选择
    function eventTypeByDeptName(value){
        $.ajax({
            url: "/system/archives/regionEventTypeByDept",
            data: {
                deptId:value
            },
            type: "get",
            success: function (data) {
                if (data.code == '0') {
                    // 类型统计echarts
                    var Statistics = echarts.init(document.getElementById("Statistics"));
                    var Soption = {
                        tooltip: {
                            trigger: "item",
                            formatter: function (params) {
                                var result = '';
                                result += params.marker + params.data.name + '：' + params.data.value + '(' + params.percent + '%)';
                                return result
                            }
                        },
                        grid: {
                            top: "5%",
                            left: 5,
                            right: 5,
                            bottom: "20%",
                            containLabel: true,
                        },
                        legend: {
                            // orient: 'or',
                            top: "bottom",
                            itemWidth: 15,
                            itemHeight: 15,
                        },
                        color: ["#217FCD", "#44CCA0", "#F8C721", "#6E7E9B", "#F98A65"],
                        series: [
                            {
                                name: "类型统计",
                                type: "pie",
                                radius: ["50%", "70%"],
                                avoidLabelOverlap: false,
                                label: {
                                    show: true,
                                    position: "outside",
                                    formatter: "{d}% {b} ",
                                },

                                labelLine: {
                                    show: true,
                                },
                                data:data.data,
                            },
                        ],
                    };
                    Statistics.setOption(Soption);
                }
            }
        })
    }

    //类型统计 日期 echarts空间名
    function stageEvent(dayType){
        $.ajax({
            url: "/system/archives/eventType",
            data: {
                "type":dayType
            },
            type: "get",
            success: function (data) {
                if (data.code == '0') {
                    var Statistics = echarts.init(document.getElementById("Statistics"));
                    var Soption = {
                        tooltip: {
                            trigger: "item",
                            formatter: function (params) {
                                var result = '';
                                result += params.marker + params.data.name + '：' + params.data.value + '(' + params.percent + '%)';
                                return result
                            }
                        },
                        grid: {
                            top: "10%",
                            left: 5,
                            right: 5,
                            bottom: "20%",
                            containLabel: true,
                        },
                        legend: {
                            // orient: 'or',
                            top: "bottom",
                            itemWidth: 15,
                            itemHeight: 15,
                        },
                        color: ["#217FCD", "#44CCA0", "#F8C721", "#6E7E9B", "#F98A65"],
                        series: [
                            {
                                name: "类型统计",
                                type: "pie",
                                radius: ["45%", "65%"],
                                avoidLabelOverlap: true,
                                label: {
                                    show: true,
                                    position: "outside",
                                    formatter: "{d}% {b} ",
                                },

                                labelLine: {
                                    show: true,
                                },
                                data:data.data,
                            },
                        ],
                    };
                    Statistics.setOption(Soption);
                }
            }
        })
    }

    //事件分析
    function stageEventAnalysis(dayType){
        $.ajax({
            url: "/system/archives/eventAnalysis",
            data: {
                "type":dayType
            },
            type: "get",
            success: function (data) {
                if (data.code == '0') {
                    // console.log(data.data)
                    var analysisX = data.data.eventAnalysisTypeNames;
                    var analysisY = data.data.eventAnalysisTypeCounts;//分析率
                    if (analysisY.length == 0) {
                        analysisX.forEach(item => {
                            analysisY.push(0)
                        })
                    }
                    var analysis = echarts.init(document.getElementById("analysis"));
                    var Aoption = {
                        tooltip: {
                            trigger: "axis",
                            axisPointer: {
                                // 坐标轴指示器，坐标轴触发有效
                                type: "shadow", // 默认为直线，可选为：'line' | 'shadow'
                            },
                            formatter: function (params) {
                                // console.log(params)
                                var str = params[0].marker + params[0].name+ '：' + params[0].value;
                                return str
                            }
                        },
                        grid: {
                            top: "5%",
                            left: "5%",
                            right: "5%",
                            bottom: "3%",
                            containLabel: true,
                        },
                        xAxis: [
                            {
                                type: "value",

                                axisTick: {
                                    show: false,
                                },
                                axisLine: {
                                    show: false,
                                },
                                axisLabel: {
                                    show: false,
                                },
                                splitLine: {
                                    show: false,
                                },
                            },
                        ],
                        yAxis: [
                            {
                                type: "category",
                                axisTick: {
                                    show: false,
                                },
                                axisLine: {
                                    show: false,
                                },
                                data: analysisX,
                            },
                        ],
                        series: [
                            /*{
                                name: "assist",
                                type: "bar",
                                stack: "1",
                                itemStyle: {
                                    normal: {
                                        barBorderColor: "rgba(0,0,0,0)",
                                        color: "rgba(0,0,0,0)",
                                    },
                                    emphasis: {
                                        barBorderColor: "rgba(0,0,0,0)",
                                        color: "rgba(0,0,0,0)",
                                    },
                                },
                                tooltip: {
                                    trigger: "none",
                                },
                                data: data.data.eventAnalysisTypeCounts,
                            },*/
                            {
                                name: "分析率",
                                type: "bar",
                                barWidth: "60%",
                                stack: 1,
                                data: analysisY,
                                barWidth: 10,
                                label: {
                                    show: true,
                                    position: "right",
                                },
                                itemStyle: {
                                    barBorderRadius: 15,
                                    color: function (params) {
                                        var colorList = [
                                            "#FFEF8E",
                                            "#FECD27",
                                            "#C4CCE7",
                                            "#7484A0",
                                            "#A0F4CA",
                                            "#4AD2A6",
                                            "#97DDFF",
                                            "#2785D3",
                                        ];
                                        return colorList[params.dataIndex];
                                    },
                                },
                            },
                        ],
                    };
                    analysis.setOption(Aoption);
                }
            }
        })
    }

    layui.use(["laydate", "element", "form"], function () {
        var laydate = layui.laydate;
        var element = layui.element;
        var form = layui.form;
        $('#strongBase').on('click', function () {
            layer.msg('暂未开放')
        });
        $('#zongzhi').on('click', function () {
            layer.msg('暂未开放')
        });
        $('#zhian').on('click', function () {
            layer.msg('暂未开放')
        })
        $('#quyu').on('click', function () {
            layer.msg('暂未开放')
        })
        $('#sheqing').on('click', function () {
            layer.msg('暂未开放')
        })
        $('#minsheng').on('click', function () {
            layer.msg('暂未开放')
        })
        $('#zhihui').on('click', function () {
            layer.msg('暂未开放')
        })
        $('#pingtai').on('click', function () {
            layer.msg('暂未开放')
        })
        $("#shugan").on('click',function () {
            layer.msg('暂未开放');
        })

        //执行一个laydate实例
        laydate.render({
            elem: "#day-range", //指定元素
            range: true, //范围选择
            done:function (value, date, endDate) {
                let startDateStr = date.year+"-"+date.month+"-"+date.date;
                let endDateStr =  endDate.year+"-"+endDate.month+"-"+endDate.date;
                //事件趋势 范围选择
                $.ajax({
                    url: "/system/archives/regionChangeByDate",
                    data: {
                        "startDate":startDateStr,
                        "endDate":endDateStr
                    },
                    type: "get",
                    success: function (data) {
                        if (data.code == '0') {
                            var total = echarts.init(document.getElementById("total"));
                            var Toption = {
                                tooltip: {
                                    trigger: "axis",
                                    axisPointer: {
                                        type: "cross",
                                    },
                                },
                                legend: {
                                    top: "bottom",
                                    itemWidth: 15,
                                    itemHeight: 15,
                                    textStyle: {
                                        color: '#555'
                                    }
                                },
                                grid: {
                                    left: "5%",
                                    top: "5%",
                                    right: "5%",
                                    bottom: "10%",
                                    containLabel: true,
                                },
                                xAxis: {
                                    type: "category",
                                    axisLabel: {
                                        textStyle: {
                                            color: "#333",
                                        },
                                    },
                                    axisLine: {
                                        lineStyle: {
                                            color: "#888",
                                        },
                                    },
                                    axisTick: {
                                        show: false,
                                    },
                                    data: data.data.eventChangeNames,
                                },
                                yAxis: {
                                    type: "value",
                                    axisLine: {
                                        show: false,
                                    },
                                    axisTick: {
                                        show: false,
                                    },
                                    splitLine: {
                                        show: true,
                                        lineStyle: {
                                            type: "dashed",
                                        },
                                    },
                                    axisLabel: {
                                        textStyle: {
                                            color: "#333",
                                        },
                                    },
                                    // boundaryGap: [0, 0.01],
                                },
                                color: ["#0070CC", "#2ACA96"],
                                series: [
                                    {
                                        name: "店铺",
                                        type: "bar",
                                        data: [],
                                        barGap: 0,
                                        barWidth: 15,
                                    },
                                    {
                                        name: "街道",
                                        type: "line",
                                        data: data.data.eventChangeCounts,
                                        smooth: true,
                                        itemStyle: {
                                            color: {
                                                type: "linear",
                                                x: 0,
                                                y: 0,
                                                x2: 0,
                                                y2: 1,
                                                colorStops: [
                                                    {
                                                        offset: 0,
                                                        color: "rgba(42,202,150)", // 0% 处的颜色
                                                    },
                                                    {
                                                        offset: 1,
                                                        color: "#ffffff", // 100% 处的颜色
                                                    },
                                                ],
                                                global: false, // 缺省为 false
                                            },
                                        },
                                        symbolSize: 0,
                                        lineStyle: {
                                            width: 3,
                                            color: {
                                                type: "linear",
                                                x: 0,
                                                y: 0,
                                                x2: 1,
                                                y2: 1,
                                                colorStops: [
                                                    {
                                                        offset: 0,
                                                        color: "rgba(42,202,150)", // 0% 处的颜色
                                                    },
                                                    {
                                                        offset: 0.5,
                                                        color: "rgba(42,202,150)", // 0% 处的颜色
                                                    },
                                                    {
                                                        offset: 1,
                                                        color: "rgba(42,202,150)", // 100% 处的颜色
                                                    },
                                                ],
                                                global: true, // 缺省为 false
                                            },
                                        },
                                        areaStyle: [],
                                    },
                                ],
                            };
                            total.setOption(Toption);
                        }
                    }
                })
            }
        });

        //类型统计 事件类型选中
        form.on("select(college)", function(data){
            if(!("" == data.value)){
                eventTypeByDeptName(data.value);
            }
        });
    });


    setTimeout(() => {
        var total = echarts.init(document.getElementById("total"));
        var purchase = echarts.init(document.getElementById("purchase"));
        var testing = echarts.init(document.getElementById("testing"));
        var Statistics = echarts.init(document.getElementById("Statistics"));
        var analysis = echarts.init(document.getElementById("analysis"));
        window.onresize = function () {
            purchase.resize();
            testing.resize();
            Statistics.resize();
            total.resize();
            analysis.resize();
        };
    }, 500);

    // 设置提示框组件
    $('[data-toggle="tooltip"]').tooltip()

    //导出pdf报告
    function exportPdf() {
        window.scrollTo(0, 0); // 避免内容缺失
        html2canvas($('#exportDiv'), {
            onrendered: function (canvas) {
                let contentWidth = canvas.width;
                let contentHeight = canvas.height;

                //一页pdf显示html页面生成的canvas高度;
                let pageHeight = (contentWidth / 595.28) * 841.89;
                //未生成pdf的html页面高度
                let leftHeight = contentHeight;
                //pdf页面偏移
                let position = 0;
                //a4纸的尺寸[595.28,841.89]，html页面生成的canvas在pdf中图片的宽高
                let imgWidth = 555.28;
                let imgHeight = (555.28 / contentWidth) * contentHeight;

                let pageData = canvas.toDataURL("image/jpeg", 1.0);

                let pdf = new jsPDF("", "pt", "a4");
                //有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
                //当内容未超过pdf一页显示的范围，无需分页
                if (leftHeight < pageHeight) {
                    pdf.addImage(pageData, "JPEG", 20, 0, imgWidth, imgHeight);
                } else {
                    while (leftHeight > 0) {
                        pdf.addImage(
                            pageData,
                            "JPEG",
                            20,
                            position,
                            imgWidth,
                            imgHeight
                        );
                        leftHeight -= pageHeight;
                        position -= 841.89;
                        //避免添加空白页
                        if (leftHeight > 0) {
                            pdf.addPage();
                        }
                    }
                }
                pdf.save("一期一档图表报告.pdf");
            },
        });
    }

</script>

</html>
