<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('区域列表')" />
</head>
<body class="gray-bg">
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="dept-form">
					<div class="select-list">
						<ul>
							<li>
								区域名称：<input type="text" name="regionName"/>
							</li>
							<li style="display:flex;align-items: center">
								状态：
								<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								<a class = "btn btn-success btn-sm" onclick = "$.table.search()"><i class = "fa fa-search"></i>&nbsp;搜索</a>
								<a class = "btn btn-default btn-sm" onclick = "$.form.reset()"><i class = "fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
                
            <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.add(100)" shiro:hasPermission="system:region:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary" onclick="$.operate.edit()" shiro:hasPermission="system:region:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
                <a class="btn btn-primary" id="expandAllBtn">
                    <i class="fa fa-exchange"></i> 展开/折叠
                </a>
	        </div>
       		 <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-tree-table"></table>
	        </div>
	    </div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var addFlag = [[${@permission.hasPermi('system:region:add')}]];
		var editFlag = [[${@permission.hasPermi('system:region:edit')}]];
		var removeFlag = [[${@permission.hasPermi('system:region:remove')}]];
		var datas = [[${@dict.getType('sys_normal_disable')}]];
		var prefix = ctx + "system/region"

		$(function() {
		    var options = {
		        code: "regionId",
		        parentCode: "parentId",
		        uniqueId: "regionId",
		        url: prefix + "/list",
		        createUrl: prefix + "/add/{id}",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove/{id}",
		        modalName: "区域",
				showPageGo: true,
		        columns: [{
                    field: 'selectItem', 
                    radio: true
                 },
                 {
		            field: 'regionName',
		            title: '区域名称',
		            align: "left"
		        },
		        {
		            field: 'orderNum',
		            title: '排序',
		            align: "left"
		        },
		        {
		            field: 'status',
		            title: '状态',
		            align: "left",
		            formatter: function(value, item, index) {
		            	return $.table.selectDictLabel(datas, item.status);
		            }
		        },
		        {
		            field: 'createTime',
		            title: '创建时间',
		            align: "left"
		        },
		        {
		            title: '操作',
		            align: 'left',
		            formatter: function(value, row, index) {
		                if (row.parentId != 0) {
		                    var actions = [];
		                    actions.push('<a class="exdeft ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.regionId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
		                    actions.push('<a class="exdeft ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.regionId + '\')"><i class="fa fa-plus"></i>新增</a> ');
		                    actions.push('<a class="exdeft ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.regionId + '\')"><i class="fa fa-trash"></i>删除</a>');
							actions.push('<a class="exdeft ' + editFlag + '" href="javascript:void(0)" onclick="drawMap(\'' + row.regionId + '\',\'' + row.regionName + '\')"><i class="fa fa-flag-checkered"></i>绘制地图</a>');
		                    return actions.join('');
		                } else {
							let actions = []
							actions.push('<a class="exdeft' + editFlag + '" href="javascript:void(0)" onclick="viewMap(\'' + row.regionId + '\',\'' + row.regionName + '\')"><i class="fa fa-map"></i>地图总览</a>');
							return actions.join('');
		                }
		            }
		        }]
		    };
		    $.treeTable.init(options);
		});

		/*绘制地图*/
		function drawMap(regionId, regionName) {
			let url = prefix + '/map/' + regionId;
			$.modal.openTab(regionName, url);
		}

		/*地图预览*/
		function viewMap(regionId, regionName) {
			let url = prefix + '/map/list/' + regionId;
			$.modal.openTab(regionName, url);
		}

	</script>
</body>
</html>