<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('自定义标签列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>标签名称：</label>
                                <input type="text" name="lmName"/>
                            </li>
                            <!--<li>
                                <label>标签区域配置：</label>
                                <input type="text" name="lmRegion"/>
                            </li>
                            <li>
                                <label>标签事件类型配置：</label>
                                <select name="lmEventType" th:with="type=${@dict.getType('')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>标签权限配置：</label>
                                <input type="text" name="lmAuth"/>
                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:customLm:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:customLm:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:customLm:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:customLm:export">
                    <i class="fa fa-download"></i> 导出
                </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:customLm:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:customLm:remove')}]];
        var prefix = ctx + "system/lmanagementInfo";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "自定义标签",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'lmId', 
                    title: '标签ID',
                    visible: false
                },
                {
                    field: 'lmName', 
                    title: '标签名称'
                },
                {
                    field: 'lmRegion', 
                    title: '标签区域配置',
                    formatter: function(value, item, index) {
                        var lmRegion = "-";
                        let arr = item.regionList;
                        if(arr && arr.length > 0){
                            lmRegion = "";
                            arr.forEach(items=>{
                                lmRegion += items.regionName+" ";
                            })
                        }
                        return lmRegion;
                    }
                },
                {
                    field: 'lmEventType', 
                    title: '标签事件类型配置',
                    formatter: function(value, item, index) {
                        let lmEventType = "-";
                        let arr = item.eclassList;
                        if(arr && arr.length > 0){
                            lmEventType = "";
                            arr.forEach(items=>{
                                lmEventType += items.ec_name+" ";
                            })
                        }
                        return lmEventType;
                    }
                },
                {
                    field: 'lmAuth', 
                    title: '标签权限配置',
                    formatter: function(value, item, index) {
                        let lmAuth = "-";
                        let arr = item.roleList;
                        if(arr && arr.length > 0){
                            lmAuth = "";
                            arr.forEach(items=>{
                                lmAuth += items.roleName+" ";
                            })
                        }
                        return lmAuth;
                    }
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.lmId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.lmId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>