<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改事件')" />
    <th:block th:include="include :: ztree-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-role-edit" th:object="${role}">
        <input id="ec_id" name="ec_id" type="hidden" th:field="*{ec_id}"/>
<!--        <div class="form-group">-->
<!--            <label class="col-sm-3 control-label is-required" readonly="false">事件编号：</label>-->
<!--            <div class="col-sm-8">-->
<!--                <input class="form-control" type="text" name="ec_name" id="ec_ids" th:field="*{ec_ids}" required>-->

<!--            </div>-->
<!--        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">事件分组：</label>
            <div  class="col-sm-8">
                <select class="form-control"  id="ec_category" th:field="*{ec_category}" required>
                    <option value="1003">应急指挥</option>
                    <option value="1001">智慧城管</option>
                    <option value="1002">浙里访</option>
                    <option value="1004">四平台</option>
                    <option value="1005">街道内部</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">事件状态码：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" maxlength="50" name="ec_name_type" id="ec_name_type" th:field="*{ec_name_type}"  required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">事件类型名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="ec_name" id="ec_name" th:field="*{ec_name}" required>
            </div>
        </div>
<!--        <div class="form-group">-->
<!--            <label class="col-sm-3 control-label">事件状态：</label>-->
<!--            <div class="col-sm-8">-->
<!--                <label class="toggle-switch switch-solid">-->
<!--                    <input type="checkbox" id="ec_type" th:checked="${role.ec_type == '0' ? true : false}">-->
<!--                    <span></span>-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <input id="ec_bei" name="ec_bei" class="form-control" type="text" th:field="*{ec_bei}">
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: ztree-js" />
<script type="text/javascript">
    var prefix = ctx + "system/eclass";
    // $(function() {
    //     var url = ctx + "system/menu/roleMenuTreeData?ec_id=" + $("#ec_id").val();
    //     var options = {
    //         id: "menuTrees",
    //         url: url,
    //         check: { enable: true },
    //         expandLevel: 0
    //     };
    //     $.tree.init(options);
    // });

    $("#form-role-edit").validate({
        onkeyup: false,
        rules:{
            roleName:{
                remote: {
                    url: ctx + "system/aiew/checkRoleNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "ec_id": function() {
                            return $("#ec_id").val();
                        },
                        "ec_name": function() {
                            return $.common.trim($("#ec_name").val());
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            roleKey:{
                remote: {
                    url: ctx + "system/aiew/checkRoleKeyUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "ec_id": function() {
                            return $("#ec_id").val();
                        },
                        "roleKey": function() {
                            return $.common.trim($("#roleKey").val());
                        }
                    },
                    dataFilter: function(data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            roleSort:{
                digits:true
            },
        },
        messages: {
            "ec_name": {
                remote: "角色名称已经存在"
            },
            "roleKey": {
                remote: "角色权限已经存在"
            }
        },
        focusCleanup: true
    });

    function edit() {
        var ec_id = $("input[name='ec_id']").val();
        var ec_ids = $("input[name='ec_ids']").val();
        var ec_category = $("#ec_category").val();
        var ec_name = $("input[name='ec_name']").val();
        var ec_bei = $("input[name='ec_bei']").val();
        var ec_type = $("input[id='ec_type']").is(':checked') == true ? 0 : 1;
        $.ajax({
            cache : true,
            type : "POST",
            url : prefix + "/edit",
            data : {
                "ec_ids": ec_ids,
                "ec_id": ec_id,
                "ec_name": ec_name,
                "ec_bei": ec_bei,
                "ec_type": ec_type,
                "ec_category":ec_category
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.operate.successCallback(data);
            }
        });
    }

    function submitHandler() {
        if ($.validate.form()) {
            edit();
        }
    }
</script>
</body>
</html>
