<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('巡更路线查看')" />
    <th:block th:include="include :: jsonview-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m-t" id="signupForm">
        <div class="form-group">
            <label class="col-sm-2 control-label">路线名称：</label>
            <div class="form-control-static" th:text="${xlPropertyPatrolPath.pathName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">巡更时长：</label>
            <div class="form-control-static">
                <span th:text="${xlPropertyPatrolPath.patrolDuration}"></span> 分钟
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">描述：</label>
            <div class="form-control-static" th:text="${xlPropertyPatrolPath.pathRemark}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">巡更点：</label>
            <div class="form-control-static">
                <div th:if="${xlPropertyPatrolPath.pathStatus eq 0}">
                    <span th:text="${xlPropertyPatrolPath.pointNames}"></span>
                </div>
                <div th:if="${xlPropertyPatrolPath.pathStatus eq 1}">
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i>未配置巡更点！</span>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: jsonview-js" />
<script th:inline="javascript"></script>
</body>
</html>