<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增数据源')" />
	<th:block th:include="include :: summernote-css" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-source-add" name="form-source-add">
			<div class="form-group">
				<label class="col-sm-3 control-label is-required "> 数据源名称:</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="sourceName" id="sourceName"  required>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label is-required ">接入方式:</label>
				<div class="col-xs-3">
				<select class="form-control" name="sourceAccess" id="sourceAccess" onchange="show()">
					<option value="API">API</option>
					<option value="Excel">Excel</option>
					<option value="DB">DB</option>
				</select>
				</div>
				<div class="col-xs-3" id="parentId2" >
				<select class="form-control" name="dataType" id="dataType" >
					<option value="MYSQL">MYSQL</option>
					<option value="Oracle">Oracle</option>
					<option value="PostgetSQL">PostgetSQL</option>
				</select>
				</div>
			</div>
			<div class="form-group" id="parentId1">
				<label class="col-sm-3 control-label is-required ">地址：</label>
				<div class="col-sm-8">
					<input class="form-control" placeholder="https开头" type="text" name="sourceAddress" id="sourceAddress" required >
				</div>
			</div>

			<div class="form-group" id="excal">
				<label class="col-sm-3 control-label is-required">上传文件：</label>
				<div class="col-sm-8">
					<input  type="file" class="btn btn-default btn-choose" name="sourceAddress" id="excalAddress"   required>
					<label style="color: grey">只能上传excal格式文件,文件不能超过800kb</label>
				</div>
			</div>
<!--			<a class="btn btn-primary single " onclick="cestest()">搜索</a>-->

			<div class="form-group" id="sourceSynchronize1">
				<label class="col-sm-3 control-label is-required ">同步频率:</label>
				<div class="col-xs-3">
					<select class="form-control" name="sourceSynchronize" id="sourceSynchronize" >
						<option value="按秒">按秒</option>
						<option value="按分钟">按分钟</option>
						<option value="按小时">按小时</option>
						<option value="按整天">按整天</option>
					</select>
				</div>
				<div class="col-xs-3">
					<input class="form-control" type="text" name="sourceSynRateVal" id="sourceSynRateVal" required >
				</div>
			</div>

			<div class="form-group" id="sourceHost1">
				<label class="col-sm-3 control-label is-required ">主机：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="sourceHost" id="sourceHost" required >
				</div>

				<div class="" id="sourcePort1">
				<label class="col-sm-2 control-label is-required ">端口：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="sourcePort" id="sourcePort" required >
				</div>
			</div>
			</div>

			<div class="form-group" id="sourceUsername1">
				<label class="col-sm-3 control-label is-required ">用户名：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="sourceUsername" id="sourceUsername" required >
				</div>

				<div class="" id="sourcePassword1">
				<label class="col-sm-2 control-label is-required ">密码：</label>
				<div class="col-sm-3">
					<input class="form-control" type="password" name="sourcePassword" id="sourcePassword" required >
				</div>
			</div>
			</div>

			<div class="form-group" id="sourceDBdiv">
				<label class="col-sm-3 control-label is-required ">数据库名：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="sourceDbName" id="sourceDbName" required >
				</div>

				<label class="col-sm-2 control-label is-required ">表名：</label>
				<div class="col-sm-3">
					<input class="form-control" type="text" name="sourceTableName" id="sourceTableName" required >
				</div>
			</div>

			<div class="form-group" style="display:none;">
				<label class="col-sm-3 control-label">创建人：</label>
				<div class="col-sm-3">
					<input th:value="${createUser}" id="createUser" class="form-control" readonly="readonly" type="text" name="createUser"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label  ">备注：</label>
				<div class="col-sm-8">
					<textarea class="form-control" placeholder="200字以内" type="text" name="sourceRemarks" id="sourceRemarks" ></textarea>
				</div>
			</div>
			<div class="form-group" id="test">
				<label class="col-sm-3 control-label "></label>
				<div class="col-sm-8">
<!--					<a class="btn btn-primary single" id="aaa" >测试连接</a>-->
					<input type="button" value="测试连接" class="btn btn-primary single" onclick="return connection()">
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: summernote-js" />
	<script type="text/javascript">
		var prefix = ctx + "monitor/source";
		show();
		/* 下拉框选择 */
		function show(){
			var t=document.getElementById("sourceAccess").value;
			var p1=document.getElementById("parentId1");
			var p2=document.getElementById("parentId2");
			var p3=document.getElementById("sourceHost1");
			var p4=document.getElementById("sourcePort1");
			var p5=document.getElementById("sourceUsername1");
			var p6=document.getElementById("sourcePassword1");
			var p7=document.getElementById("sourceSynchronize1");
			var excal=document.getElementById("excal");
			var test=document.getElementById("test");
			if(t=="API" ){
				p1.style.display="";
				p2.style.display="none";
				p3.style.display="none";
				p4.style.display="none";
				p5.style.display="none";
				p6.style.display="none";
				p7.style.display="";
				$("#sourceDBdiv").attr("style","display:none;");
				excal.style.display="none";
			}else{
				p1.style.display="none";
			}
			if(t=="DB"){
				p2.style.display="";
				p3.style.display="";
				p4.style.display="";
				p5.style.display="";
				p6.style.display="";
				p7.style.display="";
				excal.style.display="none";
				$("#sourceDBdiv").attr("style","display:block;");
			} else{
				p2.style.display="none";
			}
			if(t=="Excel"){
				p1.style.display="none";
				p2.style.display="none";
				p3.style.display="none";
				p4.style.display="none";
				p5.style.display="none";
				p6.style.display="none";
				p7.style.display="none";
				excal.style.display="";
				test.style.display="none";
				$("#sourceDBdiv").attr("style","display:none;");
			}
		}
        function cestest(){
			location.href=prefix+"/download";

		}


		$("#form-source-add").validate({
			onkeyup: false,
			rules: {
				sourceName: {
					remote: {
						url: prefix + "/checkConfigKeyUnique",
						type: "post",
						dataType: "json",
						data: {
							"sourceName": function() {
								return $.common.trim($("#sourceName").val());
							}
						},
						dataFilter: function(data, type) {
							return $.validate.unique(data);
						}
					}
				},


			},
			messages: {
				"sourceName": {
					remote: "数据源名称已经存在"
				},
			},
			focusCleanup: true
		});
		function submitHandler() {
			if ($.validate.form()) {
				// uploadFile();
				$.operate.save(prefix + "/add", $('#form-source-add').serialize());
			}
		}

		function uploadFile() {
			var formData = new FormData();
			var type = document.getElementById("sourceAccess").value;
			if(type == "DB"){
				var sourceAccess =  document.getElementById("source").value;
				formData.append('sourceAccess', sourceAccess);
				formData.append('sourceUsername', $("#sourceUsername").val());
				formData.append('sourceHost',$("#sourceHost").val());
				formData.append('sourcePort', $("#sourcePort").val());
				formData.append('sourcePassword', $("#sourcePassword").val());
				$.ajax({
					url: prefix + "/connection",
					type: 'post',
					cache: false,
					data: formData,
					processData: false,
					contentType: false,
					dataType: "json",
					success: function(result) {
						if(result.code == 301){
							$.modal.alertWarning("数据库连接失败，请检查后再试");
						}else {
							// 接入方式
							var a = document.getElementById("type").value;
							var b = $("#source").val()
							var sourceAccess=a+"/"+b
							// 同步频率
							var c = $("#sourceSynchronize").val();
							var d=  $("#sourceSynRateVal").val();
							var sourceSynchronize=c+"/"+d;

							var sourceRemarks = $.trim($('#sourceRemarks').val());
							formData.append('sourceName', $("#sourceName").val());
							formData.append('sourceSynchronize', sourceSynchronize);
							formData.append('sourceAddress', $("#sourceAddress").val());
							formData.append('updateUser', $("#updateUser").val());
							formData.append('sourceRemarks', sourceRemarks);
							$.ajax({
								url: prefix + "/add",
								type: 'post',
								cache: false,
								data: formData,
								processData: false,
								contentType: false,
								dataType: "json",
								success: function(result) {
									$.operate.successCallback(result);
								}
							});
						}
					}
				});

		}else if(type == "API"){
				$.ajax({
					url: prefix + "/apiCheck",
					type: 'post',
					cache: false,
					data: formData,
					processData: false,
					contentType: false,
					dataType: "json",
					success: function(result) {
						if(result.code == 301){
							$.modal.alertWarning("该链接地址有误，请检查后重新输入");
						}else {
							// 接入方式
							var a = document.getElementById("type").value;
							var sourceAccess=a
							// 同步频率
							var c = $("#sourceSynchronize").val();
							var d=  $("#sourceSynRateVal").val();
							var sourceSynchronize=c+"/"+d;

							var sourceRemarks = $.trim($('#sourceRemarks').val());
							formData.append('sourceName', $("#sourceName").val());
							formData.append('sourceAccess',sourceAccess);
							formData.append('sourceSynchronize', sourceSynchronize);
							formData.append('sourceAddress', $("#sourceAddress").val());
							formData.append('sourceUsername', $("#sourceUsername").val());
							formData.append('sourceHost',$("#sourceHost").val());
							formData.append('sourcePort', $("#sourcePort").val());
							formData.append('sourcePassword', $("#sourcePassword").val());
							formData.append('updateUser', $("#updateUser").val());
							formData.append('sourceRemarks', sourceRemarks);
							$.ajax({
								url: prefix + "/add",
								type: 'post',
								cache: false,
								data: formData,
								processData: false,
								contentType: false,
								dataType: "json",
								success: function(result) {
									$.operate.successCallback(result);
								}
							});
						}
					}
				});

			}else if(type == "Excel"){
				// 获取接入方式
				var a = document.getElementById("type").value;
				var sourceAccess=a
				formData.append('sourceName', $("#sourceName").val());
				formData.append('file', $('#excalAddress')[0].files[0]);
				formData.append('sourceAccess',sourceAccess);
				formData.append('createUser', $("#createUser").val());
				var sourceRemarks = $.trim($('#sourceRemarks').val());
				formData.append('sourceRemarks', sourceRemarks);
				$.ajax({
					url: prefix + "/addExcal",
					type: 'post',
					cache: false,
					data: formData,
					processData: false,
					contentType: false,
					dataType: "json",
					success: function(result) {
						$.operate.successCallback(result);
					}
				});
			}



		}

		function connection() {
			var formData = new FormData();
			var type = document.getElementById("sourceAccess").value;
			if(type == "DB"){
				var sourceAccess = $("[name='source']").val();
				formData.append('sourceAccess', sourceAccess);
				formData.append('sourceUsername', $("#sourceUsername").val());
				formData.append('sourceHost',$("#sourceHost").val());
				formData.append('sourcePort', $("#sourcePort").val());
				formData.append('sourcePassword', $("#sourcePassword").val());
				$.ajax({
					url: prefix + "/connection",
					type: 'post',
					cache: false,
					data: formData,
					processData: false,
					contentType: false,
					dataType: "json",
					success: function(result) {
						if(result.code == 301){
							$.modal.alertWarning("连接失败");
						}else {
							$.modal.alertSuccess("连接成功");
						}
					}
				});
			}else if(type == "API"){
				formData.append('sourceAddress', $("#sourceAddress").val());
				$.ajax({
					url: prefix + "/apiCheck",
					type: 'post',
					cache: false,
					data: formData,
					processData: false,
					contentType: false,
					dataType: "json",
					success: function(result) {
						if(result.code == 301){
							$.modal.alertWarning("连接失败");
						}else {
							$.modal.alertSuccess("连接成功");
						}
					}
				});
			}


		}

	</script>
</body>
</html>
