<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('网格-考核评分项列表')" />
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>描述：</label>
                                <input type="text" name="describes"/>
                            </li>
                            <li>
                                <label>所属细分项：</label>
                                <select name="subdivideId" id="subdivideId" class="form-control">
                                    <!--<option th:each="subdivide:${list}" th:value="${subdivide.subdivideId}" th:text="${subdivide.subdivideName}"></option>-->
                                </select>
                            </li>
                            <!--<li>-->
                                <!--<label>考核责任单位：</label>-->
                                <!--<select name="deptId" th:with="type=${@dict.getType('')}">-->
                                    <!--<option value="">所有</option>-->
                                    <!--<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>-->
                                <!--</select>-->
                            <!--</li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-primary" onclick="$.operate.add()" shiro:hasPermission="system:scoringItems:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:scoringItems:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-primary multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:scoringItems:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-primary" onclick="$.table.exportExcel()" shiro:hasPermission="system:scoringItems:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js"/>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:scoringItems:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:scoringItems:remove')}]];
        var prefix = ctx + "system/societyManage/assessmentManage/scoringItems";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "网格-考核评分项",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'id',
                    visible: false
                },
                {
                    title: "序号",
                    formatter: function (value, row, index) {
                        return $.table.serialNumber(index);
                    }
                },
                {
                    field: 'describes', 
                    title: '描述'
                },
                {
                    field: 'xlSubdivide.subdivideName',
                    title: '所属细分项'
                },
                {
                    field: 'sysDept.deptName',
                    title: '考核责任单位'
                },
                {
                    field: 'createTime', 
                    title: '创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="exdeft ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="exdeft ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        //ajax实现的带搜索下拉框
        $(function() {
            $.ajax({
                type:"GET",
                url:prefix + "/subdivideList",
                dataType:"json",
                success:function(data){
                    // debugger
                    var t2 = $("#subdivideId").empty();
                    t2.append("<option value='' selected hidden>"+"请选择"+"</option>");
                    for ( var i = 0; i < data.length; i++) {
                        t2.append("<option value='"+data[i].subdivideId+"'>"+ data[i].subdivideName+"</option>");
                    }
                },
                error:function(jqXHR){
                    alert("发生错误："+ jqXHR.status);
                }
            });

        })
    </script>
</body>
</html>