<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改居民/物业--申诉')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-appealRecord-edit" th:object="${xlAppealRecord}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">申诉结果：</label>
                <div class="col-sm-8">
                  <div>  <label class="radio-box"> <input type="radio" th:field="*{appealResult}" name="appealResult" value="居民申诉成功" /> 居民申诉成功 </label></div>
                    <div>   <label class="radio-box"> <input type="radio" th:field="*{appealResult}" name="appealResult" value="物业申诉成功" /> 物业申诉成功 </label></div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/appealRecord";
        $("#form-appealRecord-edit").validate({
            focusCleanup: true
        });
        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-appealRecord-edit').serialize());
            }
        }
    </script>
</body>
</html>
